<h1><a href="/"><%= options['blogname'] %></a></h1>
<div id="bio">
  <a href="/"><img src="http://www.gravatar.com/avatar/def2c63c6beefdb5ca3e6ec54d04a4a4?s=48" alt="Trevor Turk"></a>
  <p>A chess-playing machine of the late 18th century, promoted as an automaton but later proved a hoax.<p>
  <p id="formerly">Formerly @almosteffortless.com</p>
</div><!-- bio -->
<div id="icons">
  <a href="http://feeds.feedburner.com/trevorturk"><img src="http://trevorturk.s3.amazonaws.com/icons/elegant/PNG/rss.png" alt="rss"></a>
  <a href="http://twitter.com/trevorturk"><img src="http://trevorturk.s3.amazonaws.com/icons/elegant/PNG/twitter.png" alt="twitter"></a>
  <a href="http://github.com/trevorturk"><img src="http://trevorturk.s3.amazonaws.com/icons/elegant/github.png" alt="github"></a>
  <a href="http://delicious.com/trevorturk"><img src="http://trevorturk.s3.amazonaws.com/icons/elegant/PNG/delicious.png" alt="delicious"></a>
  <a href="http://flickr.com/photos/trevorturk"><img src="http://trevorturk.s3.amazonaws.com/icons/elegant/PNG/flickr.png" alt="flickr"></a>
</div><!-- icons -->