<div id="info">
  <h3>Recent Projects</h3>
  <ul>
    <li><a href="http://reelroulette.net/">Reel Roulette</a> &mdash; an easy way to find motion designers</li>
    <li><a href="http://github.com/trevorturk/kzak/">KZAK!</a> &mdash; a web-based jukebox</li>
    <li><a href="http://pygments.appspot.com/">The Unofficial Pygments API</a> &mdash; syntax highlighting via google app engine</li>
    <div id="info-more" style="display:none;">
      <li><a href="http://github.com/trevorturk/static/">Static</a> &mdash; a super simple rails cms for heroku</li>
      <li><a href="http://flowcoder.com/">Flowcoder</a> &mdash; code sharing powered by twitter</li>
      <li><a href="http://clickthatbutton.com/">Click that Button</a> &mdash; a button that you can click</li>
      <li><a href="http://h8ter.org/">h8ter</a> &mdash; what do you hate?</li>
      <li><a href="http://github.com/trevorturk/eldorado/">El Dorado</a> &mdash; a full-stack community web app</li>
      <li><a href="http://wordpress.org/extend/plugins/profile/trevorturk/">WordPress Plugins</a> &mdash; mass edit pages, secure files, force ssl, etc</li>
    </div>
  </ul>
  <p id="info-more-link"><a href="#">&darr; More &darr;</a></p>  
</div><!-- info -->