<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Trevor Turk</title>
    <link href="/themes/trevorturk/style.css" media="screen" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/themes/trevorturk/favicon.png">
    <style type="text/css" media="screen">
      h3 {margin-top:30px;}
      #content {width:75%;padding-bottom:60px;}
      li {list-style:square; margin-left:2em; margin-bottom:10px;}
    </style>
  </head>
  <body>
    <div id="container" class="container_12">
      <div id="content" class="grid_12">
        <h2>Trevor Turk</h2>
        <p>
          Phone: 312-339-6124<br />
          Email: <a href="mailto:trevorturk@gmail.com">trevorturk@gmail.com</a>
        </p>

        <h3>Overview</h3>

        <ul>
          <li>Ruby web development with an emphasis on concise, maintainable, well-tested code</li>
          <li>Active participant and contributor in the open-source web development community</li>
          <li>Proven track record in product development, technical project management, and business analysis</li>
        </ul>

        <h3>Personal projects and open source</h3>
        <ul>
          <li><a href="http://reelroulette.net/">Reel Roulette</a> &mdash; an easy way to find motion designers (Rails, Devise, Heroku, Solr, jQuery)</li>
          <li><a href="http://github.com/trevorturk/kzak/">KZAK!</a> &mdash; a web-based jukebox (Rails, Devise, Carrierwave, S3, jQuery, SWFUpload, SoundManager 2)</li>
          <li><a href="http://pygments.appspot.com/">The Unofficial Pygments API</a> &mdash; syntax highlighting via Google App Engine (Python, Pygments, GAE)</li>
          <li><a href="http://github.com/trevorturk/static/">Static</a> &mdash; a super simple Rails CMS for Heroku (Rails, Heroku, Paperclip, S3)</li>
          <li><a href="http://flowcoder.com/">Flowcoder</a> &mdash; code sharing powered by Twitter (Rails, OAuth, Twitter API, haml)</li>
          <li><a href="http://github.com/trevorturk/eldorado/">El Dorado</a> &mdash; a full-stack community web app (Rails, Slicehost, Heroku, Paperclip, S3)</li>
          <li><a href="http://wordpress.org/extend/plugins/profile/trevorturk/">WordPress Plugins</a> &mdash; various security-related content management plugins</li>
          <li>
            Contributor to <a href="http://github.com/rails/rails/contributors">Ruby on Rails</a>
            (including <a href="http://github.com/lifo/docrails/contributors">docrails</a>
            and <a href="http://guides.rubyonrails.org/activerecord_validations_callbacks.html">Rails Guides</a>),
            <a href="http://github.com/plataformatec/devise/contributors">Devise</a>,
            <a href="http://github.com/jnicklas/carrierwave/contributors">Carrierwave</a>, and
            <a href="http://github.com/mxcl/homebrew/contributors">Homebrew</a>
          </li>
          <li>
            Gems and libraries:
            <a href="http://github.com/trevorturk/pg_query_analyzer">pg_query_analyzer</a>,
            <a href="http://github.com/trevorturk/sprinkle-packages">sprinkle-packages</a>,
            <a href="http://github.com/logicaltext/rack-no-www">rack-no-www</a>, and
            <a href="http://github.com/edavis10/heroku_s3_backup">heroku_s3_backup</a>
          </li>
        </ul>

        <h3>Technical experience</h3>

        <ul>
          <li>Ruby, Rails, Sinatra</li>
          <li>MySQL, PostgreSQL, CouchDB, Lucene, MongoDB, Redis, Memcached, Varnish</li>
          <li>Javascript, jQuery, node.js</li>
          <li>Amazon EC2, EBS, RDS, S3, CloudFront</li>
          <li>Heroku, Slicehost, Rackspace, Debian, Ubuntu</li>
          <li>Chef, Sprinkle, Capistrano, Monit, Passenger, Apache, nginx, Ruby Enterprise</li>
          <li>Delayed::Job, Resque</li>
          <li>Braintree, PayPal payment processing</li>
          <li>HTML, HTML5, CSS</li>
          <li>Python, Google App Engine</li>
          <li>PHP, WordPress</li>
          <li>Git, Subversion</li>
        </p>

        <h3>Work history</h3>

        <p><a href="http://www.localoffernetwork.com/">Local Offer Network</a>, Web Developer &mdash; 2010</p>
        <ul>
          <li>
            Full stack Rails application development and infrastructure management for high-traffic, high-availability
            sites and services used by major national brands
          </li>
        </ul>

        <p><a href="http://timelines.com">Timelines, Inc.</a>, Web Developer &mdash; 2008-2010</p>
        <ul>
          <li>
            Back-end Ruby development and infrastructure management for various external and internal projects
          </li>
        </ul>

        <p><a href="http://www.tribuneinteractive.com/">Tribune Interactive</a>, Product Development Analyst &mdash; 2007-2008</p>
        <ul>
          <li>
            Technical management of special projects and day-to-day maintenance of the Tribune-owned newspaper
            websites including Chicago Tribune, LA Times, and Newsday
          </li>
        </ul>

        <p><a href="http://lentegroup.com/">Lente Group</a>, Business Analyst &mdash; 2006-2007</p>
        <ul>
          <li>
            Procedural interviews, business analyses, and in-depth recommendations for senior management
            during an offshoring initiative at Bank of America
          </li>
        </ul>

        <p><a href="http://projectstory.com">ProjectStory</a>, Technical Writer and Web Developer &mdash; 2004-2006</p>
        <ul>
          <li>
            Web application development using PHP and MySQL; technical writing of training
            manuals for bank employees
          </li>
        </ul>

        <p><u>Freelance Technology Consultant</u> &mdash; 2002-2004</p>
        <ul>
          <li>
            Technical assistance and training for small and non-profit organizations; development and
            maintenance of various custom WordPress installations
          </li>
        </ul>

        <h3>Education</h3>

        <p><a href="http://lawrence.edu/">Lawrence University</a>, Bachelor of Arts, Philosophy &mdash; 1998-2002</p>
        <ul>
          <li>Magna cum laude honors in Biomedical Ethics</li>
          <li>Founding member of the Philosophy Group and the Electronic Music Organization</li>
        </ul>

        <h3>More background</h3>
        <p>
          <a href="http://trevorturk.com/">Blog</a>,
          <a href="http://delicious.com/trevorturk">Delicious</a>,
          <a href="http://flickr.com/photos/trevorturk">Flickr</a>,
          <a href="http://github.com/trevorturk">GitHub</a>,
          <a href="http://www.last.fm/user/trevorturk">Last.fm</a>,
          <a href="http://twitter.com/trevorturk">Twitter</a>
        </p>

        <h3>Get in touch</h3>

        <p>I'm happy to provide references upon request. I look forward to hearing from you.</p>

      </div><!-- content -->
    </div><!-- container -->
  </body>
</html>